{% extends 'base.html' %}

{% block head %}
<title>Log In</title>
{% endblock %}

{%block body %}
<div class="content">
    <form action="/" class="content-form" method="POST">
        <div class="form-title">Log In</div>

            <label class="form-label" for="username">Enter Login</label>
            <input type="text" name="username" id="username" required="required" placeholder="username" autocomplete="off">
        <input type="submit" class="login-button" value="Login">
    </form>
</div>
{% endblock %}