{% extends 'base.html' %}

{% block head %}
<title>Log In</title>
{% endblock %}

{%block body %}
<div class="login-page">
    <form action="/" class="login-form" method="POST">
        <div class="login_text">Log In</div>

        <div class="form-item">
            <label for="username">Enter Login</label>
            <input type="text" name="username" id="username" required="required" placeholder="username" autocomplete="off">
        </div>
        <input type="submit" class="button" value="Login">
    </form>
</div>
{% endblock %}