{% extends 'base.html' %}
{% block head %}
<title>Monthly Spendings</title>
{% endblock %}
{% block body %}

<form method="POST">
    <input type="text" name="form_month" id="form_month" required="required">
    <input type="text" name="form_year" id="form_year" required="required">
    <br>
    <input type="submit">
</form>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Time</th>
                <th>Transaction Name</th>
                <th>Transaction Value</th>
            </tr>
        </thead>

        <tbody>
            {% if entries|length == 0 %}
                <div>No Results</div>
            {% else %}
                {% for entry in entries %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[3] }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
